<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <button id="addNewMaster" class="ml-5 btn btn-info waves-effect waves-light btn-sm" data-toggle="modal" data-target="#exampleModalScrollable"
    type="submit"> <i class="mdi mdi-plus"></i> <span>New</span>
</button>

    <div class="slimscroll-menu">

        <!-- User box -->
        <div class="user-box text-center">
            <!-- <img src="../../images/icons/user.svg" alt="user-img" title="Profile"
                class="rounded-circle img-thumbnail avatar-lg"> -->
            <div class="dropdown">

                <% if (userData !== '') { %>
                <a href="#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block"
                    data-toggle="dropdown"><span><%=userData.idToken.payload.name%></span>
                </a>
                <% } else { %>
                <a href="#" class="text-dark dropdown-toggle h5 mt-2 mb-1 d-block" data-toggle="dropdown">User
                </a>
                <% }  %>

                <div class="dropdown-menu user-pro-dropdown">

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-user mr-1"></i>
                        <span>My Account</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-settings mr-1"></i>
                        <span>Settings</span>
                    </a>

                    <!-- item-->
                    <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <i class="fe-lock mr-1"></i>
                        <span>Lock Screen</span>
                    </a>

                    <!-- item-->
                    <a href="/logout" class="dropdown-item notify-item">
                        <i class="fe-log-out mr-1" id="logout" class="logout"></i>
                        <span>Logout</span>
                    </a>

                </div>
            </div>

          
            <!-- <label for="exampleInputEmail1">Master List</label> -->

         
        
            <!-- <p class="text-muted">Master List</p> -->
            <!-- <ul class="list-inline">
                <li class="list-inline-item">
                    <a href="#" class="text-muted">
                        <i class="mdi mdi-settings"></i>
                    </a>
                </li>

                <li class="list-inline-item">
                    <a href="/logout" class="text-custom">
                        <i class="mdi mdi-power"></i>
                    </a>
                </li>
            </ul> -->
        </div>

    

  <!--- Sidemenu -->
  <div id="sidebar-menu">

    <ul class="metismenu" id="side-menu" data="<%=userRole%>" >

        <!-- <% if (userRole[0] === 'Admin') { %>
        <li>
            <a href="/v1/users">
                <i class="mdi mdi-22px mdi-account"></i>
                <span> User Management </span>
            </a>
        </li>

        <li>
            <a href="/v1/activity_log">
                <i class="mdi mdi-22px mdi-account-badge-outline"></i>
                <span> Activity Log </span>
            </a>
        </li>

       
        <% } %> -->

        <li>
            <a href="/v1/activity_log">
                <i class="mdi-22px mdi mdi-account-plus"></i>
                <span> Add Customer</span>
            </a>
        </li>


        <li>
            <a href="/v1/users">
                <i class="mdi-22px mdi mdi-book-multiple-plus"></i>
                <span> File Management </span>
            </a>
        </li>

        <!-- <li>
            <a href="/v1/activity_log/addChannel">
                <i class="mdi-22px mdi mdi-book-multiple-plus"></i>
                <span> Add Channel </span>
            </a>
        </li> -->



    </ul>

</div>
<!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>
<!-- Left Sidebar End -->




 <!-- create channel moadal box -->
 <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog"
 aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
 <div class="modal-dialog modal-dialog-scrollable" role="document">
     <div class="modal-content">
         <div class="modal-header">
             <h4 class="modal-title" id="exampleModalScrollableTitle">Create Master</h4>
             <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                 <span aria-hidden="true">&times;</span>
             </button>
         </div>

         <div class="modal-body">
            
                <div class="card-box">
                    <!-- <form action='' id='upload-asset-form' data-parsley-validate novalidate>
                      
                            <div class="form-group">
                                <label for="exampleInputEmail1">Name Of File</label>
                                <input type="text" class="form-control" id="channel-name" aria-describedby=""
                                    required placeholder="Name Of Master">
                            </div>
                        
                        <div class="form-group">
                            <input type="file" class="dropify form-control" data-height="100"
                                parsley-trigger="change" id="files1" name="files1" accept="video/*" required />
                        </div>
                        <div class="form-group">

                            <button id="upload_asset" class="btn btn-info waves-effect waves-light btn-sm"
                                type="submit"> <i class="fas fa-cloud-upload-alt"></i> <span>Upload</span>
                            </button>

                        </div>

                        <div class="progress-div" style="margin-top: 1%; display: none;">

                            <div class="progress">
                                <div class="progress-bar progress-bar-video" role="progressbar"
                                    aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                    <span id="percent_complete">0%</span>
                                </div>
                            </div>
                        </div>

                    </form> -->


                   <!-- <form method="POST" name="channel_creation_onmedialive_form" id='upload-asset-form'>

                        <div class="row">


                            <div class="col-md-8">
                                <div class="card-box">

                                    <label for="exampleInputEmail1">Manifest Name</label>
                                    <p style="font-size: 0.8rem;">The manifest name is a short string
                                        that is appended to the endpoint URL to create a unique path to
                                        this endpoint.</p>

                                    <input type="file" class="dropify form-control" data-height="100"
                                        parsley-trigger="change" id="jsonUpload" name="jsonUpload" accept="JSON/*"
                                        required />

                                </div>

                            </div>


                            <div class="col-md-8">
                                <div class="progress-div" style="margin-top: 1%; display: none;">

                                    <div class="progress">
                                        <div class="progress-bar progress-bar-video" role="progressbar"
                                            aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                            <span id="percent_complete">0%</span>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-md-8 mt-3">
                                <button type="submit" style="float: right;"
                                    class="btn custome-button waves-effect create_channel btn-sm">Create
                                    Channel</button>
                            </div>

                        </div>

                    </form>  -->




 
                     <!-- <form action='' id='upload-asset-form' data-parsley-validate novalidate >
                       
                      <table width="100%" height="0"style="border-collapse: collapse" cellpadding="0" cellspacing="0">
                          <tr>
                              <td>Select File to Upload&nbsp;</td>
                              <td valign="top" colspan="3">
                                  <input type="file" name="excelFile" id="excelFile"
                                         accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                              </td>
                          </tr>
                  
                          <tr>
                              <td>
                  
                                  <input type="submit" class="buttons" onclick=""
                                         id="btnUpload" name="btnUpload" value="Submit"/>
                              </td>
                          </tr>
                  
                      </table>
                  
                      <div class="progress-div" style="margin-top: 1%; display: none;">

                        <div class="progress">
                            <div class="progress-bar progress-bar-video" role="progressbar"
                                aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width:0%">
                                <span id="percent_complete">0%</span>
                            </div>
                        </div>
                    </div>

                    </form>    -->

<!--                  
                    <form id = "uploadForm"
     enctype   =  "multipart/form-data"
     action    =  "/upload-jsonfile"
     method    =  "post"
>
<input type="file" name="userPhoto" />
<input parsley-trigger="change" id="jsonUpload" name="files1" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="submit" value="Upload Image">
<div class="mt-3"  id="result"></div>
<table id="grid1"></table>
</form> -->
                   
                </div>

                <!-- <button id="upload_asset" class="btn btn-info waves-effect waves-light btn-sm"
                            type="submit"> <i class="fas fa-cloud-upload-alt"></i> <span>Upload</span>
                        </button> -->
            
         </div>
     </div>
 </div>
</div>