<% include ../partials/header.html %>
<style>
    .custome-button {
        background-color: #46aef7 !important;
        color: #fff !important;
        border: 1px solid#46aef7 !important;
    }

    .display-hidden {
        display: none;
    }

    tr:nth-child(even) {
        background: #4B5058;
        color: #fff
    }
</style>


<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">
        <!-- Start Content-->
        <div class="container-fluid">
            <div id="sample_div" class="row">
                <div class="col-md-12">
                    <!-- <div class="responsive-table-plugin">
                        <div class="table-rep-plugin">
                            <div class="table-responsive" data-pattern="priority-columns"> -->
                                <table class="table mb-0" id="srmdxldata_table">
                                    <thead class="thead-light">
                                        <tr>
                                            <th>#</th>
                                            <th>DATE</th>
                                            <th>Start Time</th>
                                            <th>EVENT ID</th>
                                            <th>TITLE</th>
                                            <th>Duration</th>
                                        </tr>
                                    </thead>
                                    <tbody id="srmdxldata_tbody">

                                    </tbody>
                                </table>
                            <!-- </div>
                        </div>
                    </div> -->
                </div>

            </div>
        </div>
        <!-- container-fluid -->
        <% include ../partials/footer.html %>

    </div>



    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->

</div>
<!-- END wrapper -->

<% include ../partials/right_sidebar.html %>

<% include ../partials/foot.html %>

<!-- custom js -->

<script src="../../custom/js/user_management/userSrmd.js"></script>


</body>

</html>