<% include ../partials/header.html %>
<style>
    .custome-button {
        background-color: #46aef7 !important;
        color: #fff !important;
        border: 1px solid#46aef7 !important;
    }

    .display-hidden {
        display: none;
    }

    tr:nth-child(even) {
        background: #4B5058;
        color: #fff
    }
</style>

<!-- Custom CSS -->
<link href="../../custom/css/user_management/user_overview.css" rel="stylesheet">

<div id="wrapper">

    <% include ../partials/topbar.html %>

    <% include ../partials/left.html %>

    <!-- ============================================================== -->
    <!-- Start Page Content here -->
    <!-- ============================================================== -->

    <div class="content-page">
        <hr style="margin-top: 0rem;margin-bottom: 1rem;">

        <!-- Start Content-->
        <div class="container-fluid">

            <div class="row mb-2">
                <div class="col-md-3">
                    <button id="addNewMaster" class="btn btn-info waves-effect waves-light btn-sm" data-toggle="modal"
                        data-target=".bs-example-modal-xl" type="submit"> <i class="mdi mdi-plus"></i> <span>New File
                            Upload</span>
                    </button>
                </div>
            </div>

            <nav class="navbar navbar-expand-sm navbar-dark p-0">
                <ul class="nav nav-tabs mr-auto" style="border:0">
                    <li class="nav-item">
                        <a href="#playlist-tab" id="usertab" data-toggle="tab" aria-expanded="false"
                            class="nav-link usernav active">
                            <span class="d-block d-sm-none"><i class="fas fa-home"></i></span>
                            <span class="d-none d-sm-block">Play List</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="#epgfile-tab" id="grouptab" data-toggle="tab" aria-expanded="true"
                            class="nav-link groupnav">
                            <span class="d-block d-sm-none"><i class="far fa-user"></i></span>
                            <span class="d-none d-sm-block">EPG List</span>
                        </a>
                    </li>
                </ul>
            </nav>
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane fade show active" id="playlist-tab">

                    <div id="" class="row">
                        <div class="col-md-12">


                            <table id="srmdxllist_table" class="table dt-responsive nowrap table-sm w-100">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>File Name</th>
                                        <th>Created At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="srmdxllist_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="epgfile-tab">
                    <div id="" class="row">
                        <div class="col-md-12">
                            <table id="srmd_epg_list_table" class="table dt-responsive nowrap table-sm w-100">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>File Name</th>
                                        <th>Created At</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody id="srmd_epglist_tbody">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

            </div>
            <!-- container-fluid -->
            <% include ../partials/footer.html %>

        </div>
        <div class="modal fade bs-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-xl">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title" id="myExtraLargeModalLabel">Create Master</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    </div>
                    <div class="modal-body">
                        <div class="card-box">
                            <form id="uploadFormSrmd" enctype="multipart/form-data" method="post">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2  col-form-label" for="simpleinput">Play List</label>
                                            <input type="file" id="userSrmd" name="userSrmd"
                                                class="dropify form-control" parsley-trigger="change" data-height="70"
                                                required />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-sm-2  col-form-label" for="simpleinput">EPG</label>
                                            <input type="file" id="userSrmdEpg" name="userSrmdEpg"
                                                class="dropify form-control" parsley-trigger="change"
                                                data-height="70" />
                                        </div>
                                    </div>
                                    <div class="col-md-6 mt-4">

                                        <div class="form-group">
                                            <button parsley-trigger="change" id="jsonUpload" name="files1"
                                                accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
                                                type="submit" class="btn btn-info waves-effect waves-light btn-sm"> <i
                                                    class="fas fa-cloud-upload-alt"></i> <span>Upload</span>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                                <!-- <input parsley-trigger="change" id="jsonUpload"  name="files1" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" type="submit" value="Upload Image"> -->
                                <div class="mt-3" id="result"></div>
                                <table id="grid1"></table>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <!-- ============================================================== -->
        <!-- End Page content -->
        <!-- ============================================================== -->





    </div>
    <!-- END wrapper -->

    <% include ../partials/right_sidebar.html %>

    <% include ../partials/foot.html %>

    <!-- custom js -->

    <script src="../../custom/js/user_management/userSrmd.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.14.3/xlsx.full.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.13.5/jszip.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.8.0/xlsx.js"></script>

    <script>
        $(function () {
            $("#input").on("change", function () {
                var excelFile,
                    fileReader = new FileReader();

                $("#result").hide();

                fileReader.onload = function (e) {
                    var buffer = new Uint8Array(fileReader.result);

                    $.ig.excel.Workbook.load(buffer, function (workbook) {
                        var column, row, newRow, cellValue, columnIndex, i,
                            worksheet = workbook.worksheets(0),
                            columnsNumber = 0,
                            gridColumns = [],
                            data = [],
                            worksheetRowsCount;

                        // Both the columns and rows in the worksheet are lazily created and because of this most of the time worksheet.columns().count() will return 0
                        // So to get the number of columns we read the values in the first row and count. When value is null we stop counting columns:
                        while (worksheet.rows(0).getCellValue(columnsNumber)) {
                            columnsNumber++;
                        }

                        // Iterating through cells in first row and use the cell text as key and header text for the grid columns
                        for (columnIndex = 0; columnIndex < columnsNumber; columnIndex++) {
                            column = worksheet.rows(0).getCellText(columnIndex);
                            gridColumns.push({ headerText: column, key: column });
                        }

                        // We start iterating from 1, because we already read the first row to build the gridColumns array above
                        // We use each cell value and add it to json array, which will be used as dataSource for the grid
                        for (i = 1, worksheetRowsCount = worksheet.rows().count(); i < worksheetRowsCount; i++) {
                            newRow = {};
                            row = worksheet.rows(i);

                            for (columnIndex = 0; columnIndex < columnsNumber; columnIndex++) {
                                cellValue = row.getCellText(columnIndex);
                                newRow[gridColumns[columnIndex].key] = cellValue;
                            }

                            data.push(newRow);
                        }

                        // we can also skip passing the gridColumns use autoGenerateColumns = true, or modify the gridColumns array
                        createGrid(data, gridColumns);
                    }, function (error) {
                        $("#result").text("The excel file is corrupted.");
                        $("#result").show(1000);
                    });
                }

                if (this.files.length > 0) {
                    excelFile = this.files[0];
                    if (excelFile.type === "application/vnd.ms-excel" || excelFile.type === "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" || (excelFile.type === "" && (excelFile.name.endsWith("xls") || excelFile.name.endsWith("xlsx")))) {
                        fileReader.readAsArrayBuffer(excelFile);
                    } else {
                        $("#result").text("The format of the file you have selected is not supported. Please select a valid Excel file ('.xls, *.xlsx').");
                        $("#result").show(1000);
                    }
                }

            })
        });

        function createGrid(data, gridColumns) {
            if ($("#grid1").data("igGrid") !== undefined) {
                $("#grid1").igGrid("destroy");

            }

            $("#grid1").igGrid({
                columns: gridColumns,
                autoGenerateColumns: true,
                dataSource: data,
                width: "100%"
            });
        }
    </script>

    </body>

    </html>